{% extends "base.html" %}
{% block title %}To Do List{% endblock %}
{% block header %}To Do's{% endblock %}

{% block content %}
  <div id="add" class="ui green button hover">Add
  </div>
  {% for item in items %}
    {% if item.due_date and item.due_date < today %}
      <div class="ui red segment item" data-value="{{ item.id }}">
    {% else %}
      <div class="ui blue segment item" data-value="{{ item.id }}">
    {% endif %}
      {{ item.title }}
      {% if item.due_date %}
        <span class="ui {% if item.due_date < today %}red{% else %}grey{% endif %} text">
          &nbsp;Due: {{ item.due_date.strftime('%Y-%m-%d') }}
        </span>
      {% endif %}
      {% if item.done == 1 %}
        <i class="large green check icon"></i>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}

{% block footer %}
  <script>
    $(function() {
      $('#add').on('click', function(){
        window.location = "/todo/";
      });
      $('.item').on('click', function(e){
        var row = $(e.target).closest('div');
        //row.addClass("selected");
        var row_id = row.data("value");
        window.location = "/todo/" + row_id;
      });
    });
  </script>
{% endblock %}
