
{% extends "base.html" %}
{% block title %}To Do List{% endblock %}
{% block header %}To Do's{% endblock %}

{% block content %}

<div id="add" class="ui green button hover">Add</div>
{% for item in items %}
		<div class="ui blue segment item">
			{{ item }}
		</div>
{% endfor %}



{% endblock %}

{% block footer %}
    <script>
      $(function() {
	      $('#add').on('click', function(){
			  window.location = "/todo/";
		  });
		  $('.item').on('click', function(){
		      alert("clicked list");
	      });
	  });
    </script>
{% endblock %}